:host {
  ion-content {
    --ion-background-color: #000000;
  }

  ion-toolbar {
    --padding-bottom: 1rem;
  }

  #circle {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    background-color: #7DF0D3;
    border-radius: 50%;
    z-index: 1;
  }

  ion-badge {
    cursor: pointer;
    --background: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 0.4rem;
    box-shadow: 0 0 20px #ff9800, 0 0 8px #ff9800, 0 0 40px #ff9800, 0 0 50px #ff9800;

    ion-icon {
      color: rgb(235, 98, 6);
    }
  }

  .menu-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 5rem;
    margin-top: -3.4rem;
  }

  .menu-items ion-buttons {
    display: flex;
    align-items: center;
  }

  .menu-items .logo {
    height: 170px;
    margin: 0 16px;
  }

  .menu-user {
    margin-top: -4.8rem;
    margin-left: 2rem;
    display: flex;
  }

  .menu-user-text {
    margin-top: 2rem;

    h3 {
      margin: 0;
    }

    span {
      color: rgb(98, 0, 255);
      font-weight: 600;
    }
  }

  .perfil {
    height: 120px;
  }

  .menu-goals-content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    height: 3rem;
    border-radius: 27px;
    width: 23rem;

    span {
      font-size: 0.9rem;
      color: rgb(235, 98, 6);
      font-weight: 600;
    }
  }

  .my-body,
  .my-goals {
    display: flex;
    gap: 5px;
    cursor: pointer;
  }


  .icon-goal {
    font-size: 0.8rem;
    color: rgb(235, 98, 6);
    border: 1px solid rgb(235, 98, 6);
    border-radius: 50%;
    padding: 0.3rem;
  }

  ion-header,
  ion-header ion-toolbar:last-child {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .menu-items {
    padding: 1rem;
  }


  @media only screen and (max-width: 600px) {
    .menu-items {
      gap: 1rem;
    }

    .menu-goals-content {
      width: 18rem;

      span {
        font-size: 0.6rem;
        margin-top: 0.3rem;
      }
    }

    .icon-goal {
      font-size: 0.6rem;
    }
  }
}
