<app-nav></app-nav>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <div class="menu-items">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-header>

  <app-slide [slides]="slidesPersonal" title="PERSONAL ONLINE"></app-slide>
  <app-slide [slides]="slidesProgram" title="PROGRAMAS"></app-slide>
  <app-slide [slides]="slidesContent" title="CONTEÚDOS"></app-slide>

</ion-content>