<div class="content">
  @if(slides.length > 0){
  <h2>{{title}}
  <ion-fab *ngIf="ionFabeHidden">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-badge *ngIf="ionBadgeHidden"><span>NOVO</span></ion-badge>
</h2>
  <swiper-container #swiper [modules]="swiperSlides" [slidesPerView]="1.3" [initialSlide]="1" [centeredSlides]="true"
    [autoplay]="true" [spaceBetween]="15">
    <swiper-slide *ngFor="let slide of slides">
      <img [src]="slide?.banner"  (mousemove)="slide.showText = true" (mouseleave)="slide.showText = false"/>

      <div class="text-overlay" *ngIf="slide.showText">
        <div class="slide-text-cotent"> 
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <span>{{ slide.text }}</span>
      </div>
      </div>
    </swiper-slide>
  </swiper-container>
  }
</div>